<p>
  <strong>date:</strong>
  <%= @article.date %>
</p>

<p>
  <strong>nombre:</strong>
  <%= @article.nombre %>
</p>

<p>
  <strong>primerapellido:</strong>
  <%= @article.primerapellido %>
</p>

<p>
  <strong>segundoapellido:</strong>
  <%= @article.segundoapellido %>
</p>

<p>
  <strong>esferaderecha:</strong>
  <%= @article.esferaderecha %>
</p>

<p>
  <strong>cilindroderecho:</strong>
  <%= @article.cilindroderecho %>
</p>

<p>
  <strong>ejederecho:</strong>
  <%= @article.ejederecho %>
</p>

<p>
  <strong>esferaizquierda:</strong>
  <%= @article.esferaizquierda %>
</p>

<p>
  <strong>cilindroizquierdo:</strong>
  <%= @article.cilindroizquierdo %>
</p>

<p>
  <strong>ejeizquierdo:</strong>
  <%= @article.ejeizquierdo %>
</p>

<p>
  <strong>adicion:</strong>
  <%= @article.adicion %>
</p>

<p>
  <strong>tipodemica:</strong>
  <%= @article.tipodemica %>
</p>

<p>
  <strong>observaciones:</strong>
  <%= @article.observaciones %>
</p>
